html, body 
{
    margin: 0;
}
body
{
    background-image: url("https://media1.tenor.com/images/25521375b709f9f97afdbf33825ccd76/tenor.gif?itemid=8869202" );
    background-size: cover;
}
div
{
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial;
    font-style: italic;
    font-size: 22px;
}
